body, main, section, img, h1, p, form, h2, input, span, button{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --preto:  #000000;
    --branco: #f0f2f5;
    --fontes: #1c1e21;
    --azul: #1877f2;
}